.flexRow{
    display: flex;
    flex-direction: row;
}
.flexColumn{
    display: flex;
    flex-direction: column;
}
.flexBetween{
    justify-content: space-between;
}
.flexAround{
    justify-content: space-around;
}
.flexAlignCenter{
    align-items: center;
}
.flexCenter{
    justify-content: center;
}
.mw1100{
    max-width: 1100px;
    margin: 0 auto;
}
.mr-80{
    margin-right: 80px;
}
.w100{width: 100%;}
.header button{
    font-family: 'Poppins', sans-serif;
    color: black !important;
}
.header button:focus{
    border: none !important;
}
.google-button{
    background-color: rgba(143,210,248,1) !important;
    box-shadow: none !important;
    border-radius: 10px !important;
}
.google-logo{
    background-color: rgba(143,210,248,1) !important;
    border-radius: 10px !important;
}
.edit-your-portfolio{
    background-color: rgba(242,212,146,1);
    border-radius: 2px !important;
    font-size: 14px;
    color: black;
    border: none !important;
    padding: 10px 29px !important;
    font-family: 'Poppins', sans-serif;
}
.bold{
    font-weight: 700;
}
.ml-20{
    margin-left: 20px;
}
.mt-50{margin-top: 50px;}
.mb-20{margin-bottom: 20px;}
.mv-40{
    margin: 40px 0;
}
.pb-100{
    padding-bottom: 100px;
}
.pl-40{
    padding-left: 40px
}
.mh-40{margin: 0 40px}
.ph-40{padding: 0 40px}