.display-section{
    background: rgba(246,246,246,1);
    border-radius: 8px;
    margin: 60px 20px;
}
.display-section .title{
    font: 48px 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    border: none;
    background-color: inherit;
}
.display-section .profile-pic{
    height: 180px;
    width: 180px;
}
.display-section .name{
    font: 20px 'Poppins', sans-serif;
    font-weight: 400;
}
.display-section .desc{
    font: 20px 'Poppins', sans-serif;
    font-weight: 400;
    border: none;
    height: 100px;
    max-width: 650px;
    padding: 10px 20px;
}
.display-section .card-heading{
    font: 20px 'Poppins', sans-serif;
    font-weight: 500;
}
.end-text{
    font: 20px 'Poppins', sans-serif;
    font-weight: 500;
    color: rgba(154,154,154,1);
} 

@media (max-width: 480px){
    .mb-20{
        margin-bottom: 5px !important;
    }
    .display-section .info-sec{
        margin: 20px 0 0 0 !important
    }
}