.about-screen #intro-section{
    margin : 60px 0;
}
.about-screen .mw500{
    max-width: 500px;
}
.about-screen #intro-section .about-section{
    margin: 80px 20px;
}
.about-screen #intro-section .about-heading{
    font: 48px 'Poppins', sans-serif;
    font-weight: 500;
    color: black;
}
.about-screen #intro-section .about-text{
    font: 20px 'Poppins', sans-serif;
    font-weight: 400;
    color: black;
}