.profile-card{
    position: relative;
    background-color: white;
    width: 44%;
    padding: 20px;
    margin : 20px;
    box-shadow: 0px 4px 8px 2px rgba(230, 230, 230, 0.25);
    border-radius: 8px;
}
.logo{
    height: 50px;
    width: 180px;
    margin-bottom: 40px;
    align-self: center;
}
.profile-heading{
    font: 20px 'Poppins', sans-serif;
    font-weight: 600;
    color: #3D3D3D;
}
.profile-name{
    font: 20px 'Poppins', sans-serif;
    font-weight: 400;
}
.empty-logo{
    background-color: #E1E1E1;
    height: 40px;
    width: 180px;
    margin-bottom: 40px;
    align-self: center;
}
#overlay {
    position: absolute;
    width: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(61, 61, 61, 0.8);
    z-index: 2; 
    cursor: pointer; 
    border-radius: 8px;
}