#intro-section{
    margin : 60px 0;
}
.mw600{
    max-width: 600px;
}
#intro-section .intro-text{
    font: 56px 'Gilroy', sans-serif;
    font-weight: 800;
}
#intro-section .intro-button{
    background-color: #00E5D8;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    padding: 10px 30px;
    width: 30%;
    font: 20px 'Poppins', sans-serif;
    font-weight: 700;
    color: rgba(40,40,40,1);
    text-align: center;
}
#intro-section .intro-button:hover{
    background-color: inherit;
    border: 3px solid #00E5D8;
    padding: 7px 27px;
}
#why-tabber{
    margin: 60px 0;
    background-color: rgba(242,230,203,1);
    padding: 40px 0 80px 0;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    display: flex;
    flex-direction: column;
    gap: 60px;
}
#why-tabber .whytabber-heading, .tabberfeatures-heading, .achievements-heading, .tabberfeatures-heading{
    font: 40px 'Poppins', sans-serif;
    font-weight: 500;
}
.whyTabberlist{
    list-style-position: outside;
    list-style-type: none;
}
#why-tabber .whytabber-text, .whytabber-point{
    font: 20px 'Poppins', sans-serif;
    font-weight: 400;
    list-style-position: outside;
}
#why-tabber .whytabber-features{
    font: 20px 'Poppins', sans-serif;
    font-weight: 500;
}
#tabberfeatures, #faq{
    margin: 60px 0;
    padding: 40px;
}
#achievements{
    background-color: #81CDC8;
    margin: 60px 0;
    padding: 80px 40px;
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video{
    width: 90% !important;
}

@media (max-width: 400px) {
    .embed-responsive{
        left: 5%;
    }
}
.trending__profiles{
    gap: 30px;
}
.trending__profilesHeader{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vw;
    line-height: 7.15vh;
    color: #000000;
}
.trending__profilesCards{
    gap: 40px
}
.trending__profileCard{
    width: 20vw;
    background: #F8F8F8;
    box-shadow: 0px 4px 12px -4px rgba(100, 99, 99, 0.25);
    border-radius: 8px;
    gap: 2vh;
    padding: 3vh 2vw;
}
.trending__profileImage{
    height: 9.87vh;
    width: 5vw;
    border-radius: 50%;
}
.trending__profileName, .trending__profileCollege, .trending__profileViews{
    text-align: center;
}
.trending__profileName, .trending__profileCollege{
    font-family: Poppins;
    font-size: 1.25vw;
    line-height: 3.7vh;
}
.trending__profileCollege{
    font-weight: 500;
    color: rgba(0,0,0,0.6);
}
.trending__profileViews{
    font-family: Poppins;
    font-size: 1.4vw;
    line-height: 4vh;
    font-weight: bold;
}