/* Header */
@media (min-width: 992px){
    .header .navbar-nav .nav-link{
        font-size: 1.25rem !important;
    }
    .header .w100{
        width: 100% !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .header .w100{
        width: 70% !important;
    }
    .header .navbar-brand{
        margin-right: 0;
    }
    .header .mr-80{
        margin-right: 20px;
    }
    .header .navbar-nav .nav-link{
        font-size: 1rem !important;
    }
}
@media (min-width: 690px) and (max-width: 768px){    
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0.75rem !important;
        padding-right: 0.75rem !important;
    }
}
@media (min-width: 600px) and (max-width: 768px){
    .header .navbar-brand{
        margin-right: 0;
    }
    .header .mr-80{
        margin-right: 20px;
    }
    .header .navbar-nav .nav-link{
        font-size: 1rem !important;
    }
    .header .w100{
        width: 70% !important;
    }
    .header .navbar-brand img{
        height: 20px !important;
        width: 100px !important;
    }
    .header button{
        height: 40px !important;
        width: 160px !important;
    }
    .header .google-button, .edit-your-portfolio{
        font-size: 11px !important;
        font-weight: 400 !important;
    }
    .header .edit-your-portfolio{
        padding: 5px 20px !important;
    }
    .header .avatar-name{
        font-size: 12px !important;
    }
    .header .avatar{
        margin-left: 40px !important;
    }
}
@media (min-width: 600px) and (max-width: 690px){    
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0.6rem !important;
        padding-right: 0.6rem !important;
    }
    .header .avatar-name{
        font-size: 16px !important;
    }
    .header .avatar{
        margin-left: 30px !important;
    }
    .header .edit-your-portfolio{
        padding: 5px 20px !important;
    }
}
@media (min-width: 480px) and (max-width: 600px){
    .header .navbar-brand{
        margin-right: 0;
    }
    .header .mr-80{
        margin-right: 20px;
    }
    .header .navbar-nav{
        display: none !important;
    }
    .header .navbar-brand img{
        height: 20px !important;
        width: 100px !important;
    }
    .header button{
        height: 40px !important;
        width: 160px !important;
    }
    .header .google-button, .edit-your-portfolio{
        font-size: 11px !important;
        font-weight: 400;
        margin-left: auto !important;
    }
    .header .w100{
        width: auto !important;
    }
    .header .avatar-name{
        font-size: 14px !important;
    }
    .header .avatar{
        margin-left: 50px !important;
    }    
    .header .edit-your-portfolio{
        padding: 5px 20px !important;
    }
}
@media (max-width: 480px){
    .header .avatar-name{
        font-size: 12px !important;
    }
    .header .avatar{
        margin-left: 50px !important;
    }
    .header .navbar-brand{
        margin-right: 0;
    }
    .header .mr-80{
        margin-right: 20px;
    }
    .header .navbar-nav{
        display: none !important;
    }
    .header .navbar-brand img{
        height: 20px !important;
        width: 100px !important;
    }
    .header button{
        height: 40px !important;
        width: 160px !important;
    }
    .header .google-button, .edit-your-portfolio{
        font-size: 11px !important;
        font-weight: 400 !important;
    }
    .header .edit-your-portfolio{
        padding: 5px 20px !important;
    }
    .header .w100{
        width: auto !important;
    }
}

/* HomeScreen */
@media only screen and (max-width: 480px) {
    #intro-section img, #why-tabber img{
        width: 40% !important;
    }
    #why-tabber .whytabber-heading, .tabberfeatures-heading, .achievements-heading, .tabberfeatures-heading{
        font: 18px 'Poppins', sans-serif !important;
        font-weight: 600 !important;
    }
    #intro-section .mw1100, #why-tabber .mw1100, #tabberfeatures .mw1100, #achievements .mw1100, #faq .mw1100 {
        max-width: 90% !important;
        margin: 0 auto;
    }
    .mw600 {
        max-width: 50% !important;
    }
    #why-tabber .whytabber-text, .whytabber-point {
        font: 11px 'Poppins', sans-serif !important;
        font-weight: 400;
    }
    #intro-section .intro-text {
        font: 24px 'Gilroy', sans-serif !important;
        font-weight: 700 !important;
    }
    #intro-section .intro-button {
        width: 90% !important;
    }
    #tabberfeatures .pl-40, #achievements .pl-40{
        padding-left: 0 !important;
    }
    #faq .ph-40{
        padding: 0 0 !important;
    }
    #intro-section .intro-button{
        font-size: 14px !important;
    }
    #why-tabber .whytabber-features {
        font: 16px 'Poppins', sans-serif !important;
    }
}
@media (min-width: 480px) and (max-width: 599px) {
    #intro-section img, #why-tabber img{
        width: 40% !important;
    }
    #why-tabber .whytabber-heading, .tabberfeatures-heading, .achievements-heading, .tabberfeatures-heading{
        font: 22px 'Poppins', sans-serif !important;
        font-weight: 600 !important;
    }
    #intro-section .mw1100, #why-tabber .mw1100, #tabberfeatures .mw1100, #achievements .mw1100, #faq .mw1100 {
        max-width: 90% !important;
        margin: 0 auto;
    }
    .mw600 {
        max-width: 50% !important;
    }
    #why-tabber .whytabber-text, .whytabber-point {
        font: 12px 'Poppins', sans-serif !important;
        font-weight: 400;
    }
    #intro-section .intro-text {
        font: 28px 'Gilroy', sans-serif !important;
        font-weight: 700 !important;
    }
    #intro-section .intro-button {
        width: 80% !important;
    }
    #tabberfeatures .pl-40, #achievements .pl-40{
        padding-left: 0 !important;
    }
    #faq .ph-40{
        padding: 0 0 !important;
    }
    #intro-section .intro-button{
        font-size: 16px !important;
    }
    #why-tabber .whytabber-features {
        font: 18px 'Poppins', sans-serif !important;
    }
}
@media (min-width: 600px) and (max-width: 767px) {
    #intro-section img, #why-tabber img{
        width: 45% !important;
    }
    #intro-section .about-header img{
        width: 80% !important;
    }
    #why-tabber .whytabber-heading, .tabberfeatures-heading, .achievements-heading, .tabberfeatures-heading{
        font: 30px 'Poppins', sans-serif !important;
        font-weight: 600 !important;
    }
    #intro-section .mw1100, #why-tabber .mw1100, #tabberfeatures .mw1100, #achievements .mw1100, #faq .mw1100 {
        max-width: 90% !important;
        margin: 0 auto;
    }
    .mw600 {
        max-width: 43% !important;
    }
    #why-tabber .whytabber-text, .whytabber-point {
        font: 14px 'Poppins', sans-serif !important;
        font-weight: 400;
    }
    #intro-section .intro-text {
        font: 36px 'Gilroy', sans-serif !important;
        font-weight: 700 !important;
    }
    #intro-section .intro-button {
        width: 80% !important;
    }
    #tabberfeatures .pl-40, #achievements .pl-40{
        padding-left: 0 !important;
    }
    #faq .ph-40{
        padding: 0 0 !important;
    }
    #intro-section .intro-button{
        font-size: 18px !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #intro-section img, #why-tabber img{
        width: 45% !important;
    }
    #why-tabber .whytabber-heading, .tabberfeatures-heading, .achievements-heading, .tabberfeatures-heading{
        font: 36px 'Poppins', sans-serif !important;
        font-weight: 600 !important;
    }
    #intro-section .mw1100, #why-tabber .mw1100, #tabberfeatures .mw1100, #achievements .mw1100, #faq .mw1100 {
        max-width: 90% !important;
        margin: 0 auto;
    }
    .mw600 {
        max-width: 43% !important;
    }
    #why-tabber .whytabber-text, .whytabber-point {
        font: 18px 'Poppins', sans-serif !important;
        font-weight: 400;
    }
    #intro-section .intro-text {
        font: 40px 'Gilroy', sans-serif !important;
        font-weight: 700 !important;
    }
    #intro-section .intro-button {
        width: 60% !important;
    }
    #tabberfeatures .pl-40, #achievements .pl-40{
        padding-left: 0 !important;
    }
    #faq .ph-40{
        padding: 0 0 !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    #intro-section .mw1100, #why-tabber .mw1100, #tabberfeatures .mw1100, #achievements .mw1100, #faq .mw1100 {
        max-width: 90% !important;
        margin: 0 auto;
    }
    .mw600 {
        max-width: 50% !important;
    }
    #intro-section .intro-text {
        font: 48px 'Gilroy', sans-serif !important;
        font-weight: 700 !important;
    }
    #intro-section .intro-button {
        width: 44% !important;
    }
    #tabberfeatures .pl-40, #achievements .pl-40{
        padding-left: 0 !important;
    }
    #faq .ph-40{
        padding: 0 0 !important;
    }
}
@media (max-width: 1035px){
    .feature-card{
        width: 40% !important;
    }
}
@media (max-width: 636px){
    .feature-card{
        width: 80% !important;
    }
}
@media (max-width: 810px){
    .achievement-card{
        width: 80% !important;
    }
}
@media (min-width: 768px) and (max-width: 910px){
    #why-tabber .whytabber-heading, .tabberfeatures-heading, .achievements-heading, .tabberfeatures-heading{
        font: 34px 'Poppins', sans-serif !important;
        font-weight: 600 !important;
    }
    #why-tabber .whytabber-text, .whytabber-point {
        font: 16px 'Poppins', sans-serif !important;
        font-weight: 400;
    }
}

/* Footer */
@media (min-width: 992px) and (max-width: 1199px) {
    .footer{
        padding: 80px 40px !important
    }
    .footer .mw1100{
        max-width: 90% !important;
    }
    .footer-logo {
        font: 36px 'Poppins', sans-serif !important;
        font-weight: 700 !important;
    }
    .footer-links {
        font: 18px 'Poppins', sans-serif !important;
        font-weight: 400 !important;
    }
    .mh-40{
        margin: 0 40px !important;
    }
    .mr-40{
        margin-right: 40px !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .footer{
        padding: 80px 20px !important
    }
    .footer .mw1100{
        max-width: 90% !important;
    }
    .footer-logo {
        font: 36px 'Poppins', sans-serif !important;
        font-weight: 700 !important;
    }
    .footer-links {
        font: 16px 'Poppins', sans-serif !important;
        font-weight: 400 !important;
    }
    .mh-40{
        margin: 0 30px !important;
    }
    .mr-40{
        margin-right: 30px !important;
    }
}
@media (min-width: 600px) and (max-width: 767px) {
    .footer{
        padding: 60px 0 !important
    }
    .footer .mw1100{
        max-width: 90% !important;
    }
    .footer-logo {
        font: 30px 'Poppins', sans-serif !important;
        font-weight: 700 !important;
    }
    .footer-links {
        font: 14px 'Poppins', sans-serif !important;
        font-weight: 400 !important;
    }
    .mh-40{
        margin: 0 20px !important;
    }
    .mr-40{
        margin-right: 20px !important;
    }
}
@media (min-width: 480px) and (max-width: 599px) {
    .footer{
        padding: 60px 0 !important
    }
    .footer .mw1100{
        max-width: 90% !important;
    }
    .footer-logo {
        font: 24px 'Poppins', sans-serif !important;
        font-weight: 700 !important;
    }
    .footer-links {
        font: 12px 'Poppins', sans-serif !important;
        font-weight: 400 !important;
    }
    .mh-40{
        margin: 0 15px !important;
    }
    .mr-40{
        margin-right: 15px !important;
    }
}
@media (max-width: 479px) {
    .footer{
        padding: 50px 0 !important
    }
    .footer .mw1100{
        max-width: 90% !important;
    }
    .footer-logo {
        font: 18px 'Poppins', sans-serif !important;
        font-weight: 700 !important;
    }
    .footer-links {
        font: 10px 'Poppins', sans-serif !important;
        font-weight: 400 !important;
    }
    .mh-40{
        margin: 0 7px !important;
    }
    .mr-40{
        margin-right: 7px !important;
    }
}

/* About Screen */
@media (max-width: 480px){
    .about-header{
        height: 150px !important;
    }
    .about-screen #about-section .about-heading{
        font: 28px 'Poppins', sans-serif !important;
        font-weight: 500 !important;
    }
    .main-about{
        display: flex;
        flex-direction: column !important;
    }
}
@media (min-width: 480px) and (max-width: 599px){
    .about-header{
        height: 200px !important;
    }
    .about-screen #about-section .about-heading{
        font: 32px 'Poppins', sans-serif !important;
        font-weight: 500 !important;
    }
    .main-about{
        display: flex;
        flex-direction: column !important;
    }
}
@media (min-width: 600px) and (max-width: 768px){
    .about-header{
        height: 240px !important;
    }
    .about-screen #about-section .about-heading{
        font: 36px 'Poppins', sans-serif !important;
        font-weight: 500 !important;
    }
    .main-about{
        display: flex;
        flex-direction: column !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .about-header{
        height: 250px !important;
    }
    .about-screen #about-section .about-heading{
        font: 40px 'Poppins', sans-serif !important;
        font-weight: 500 !important;
    }
    .main-about{
        display: flex;
        flex-direction: row !important;
    }
    .about-img{
        width: 40% !important;
    }
}
@media (min-width: 992px) and (max-width: 1100px){
    #about-section{
        padding: 10px !important
    }
}
/* Contact Screen */
@media (max-width: 480px){
    .contact-header{
        height: 150px !important;
    }
    .contact-screen #contact-section .contact-heading{
        font: 28px 'Poppins', sans-serif !important;
        font-weight: 500 !important;
        padding-left: 20px;
    }
}
@media (min-width: 480px) and (max-width: 599px){
    .contact-header{
        height: 200px !important;
    }
    .contact-screen #contact-section .contact-heading{
        font: 32px 'Poppins', sans-serif !important;
        font-weight: 500 !important;
        padding-left: 20px;
    }
}
@media (min-width: 600px) and (max-width: 768px){
    .contact-header{
        height: 240px !important;
    }
    .contact-screen #contact-section .contact-heading{
        font: 36px 'Poppins', sans-serif !important;
        font-weight: 500 !important;
        padding-left: 20px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .contact-header{
        height: 250px !important;
    }
    .contact-screen #contact-section .contact-heading{
        font: 40px 'Poppins', sans-serif !important;
        font-weight: 500 !important;
        padding-left: 20px;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .contact-header{
        height: 300px !important;
    }
    .contact-screen #contact-section .contact-heading{
        font: 48px 'Poppins', sans-serif !important;
        font-weight: 500 !important;
        padding-left: 20px;
    }
}

/* PORTFOLIO SCREEN */
@media (max-width: 480px){
    .portfolio-section {
        margin: 0 10px 30px 10px;
        padding: 20px !important;
    }
    .share{
        padding: 15px !important
    }
    .info-sec{
        margin: 10px 0 !important;
    }
    .share .share-button {
        padding: 5px 20px !important;
        font: 12px 'Poppins', sans-serif !important;
        font-weight: 500 !important;
    }
    .portfolio-section .title{
        font: 18px 'Poppins', sans-serif !important;
        font-weight: 500 !important;
    }
    .portfolio-section .name {
        font: 12px 'Poppins', sans-serif !important;
        font-weight: 400 !important;
        padding-left: 10px !important;
    }
    .portfolio-section .desc{
        font: 14px 'Poppins', sans-serif !important;
        font-weight: 400 !important;
        padding: 5px 10px !important;
        height: 60px !important;
    }
    .iconcontainer1, .iconcontainer{
        height: 20px !important;
        width: 20px !important;
    }
    .portfolio-icon{
        font-size: 12px !important;
    }
    .portfolio-section .add-card, .add-card1{
        width: 90% !important;
        height: 100% !important;
    }
    .portfolio-section .card-heading{
        font: 16px 'Poppins', sans-serif !important;
        font-weight: 500 !important;
        margin-bottom: 0 !important;
    }
    .end-text{
        font: 12px 'Poppins', sans-serif !important;
        font-weight: 500 !important;
    } 
    .end-section{
        padding: 0 !important;
    }
    .profile-card{
        width: 90% !important;
        padding-bottom: 10px !important;
    }
    .logo{
        height: 30px !important;
        width: 108px !important;
        margin-bottom: 20px !important;
    }
    .profile-heading{
        font: 14px 'Poppins', sans-serif !important;
        font-weight: 600 !important;
        padding: 0 !important;
        margin-bottom: 5px !important;
    }
    .profile-name{
        font: 12px 'Poppins', sans-serif !important;
        font-weight: 400 !important;
        padding: 0 !important;
        margin-bottom: 5px !important;
    }
    .project-card{
        width: 90% !important;
        height: 200px !important;
    }
    .achievement-card{
        width: 90% !important;
        padding-bottom: 10px !important;
    }
    .project-textbox{
        height: 60px !important;
    }
    .project-name{
        font: 14px 'Poppins', sans-serif !important;
        font-weight: 700 !important;
    }
    .delete-icon, .edit-icon, .hide-icon{
        height: 20px !important;
        width: 20px !important;
    }
    .modal-head{
        font-size: 20px !important;
    }
    .modal .form-group .form-label {
        font: 16px 'Poppins', sans-serif !important;
    }
    .modal .form-group input, .modal .form-group select, option {
        font: 16px 'Poppins', sans-serif !important;
    }
    .add-card button svg, .add-card1 button svg{
        font-size: 40px !important;
    }
}
@media (min-width: 480px) and (max-width: 599px){
    .portfolio-section {
        margin: 0 10px 30px 10px;
        padding: 20px !important;
    }
    .share{
        padding: 20px !important
    }
    .info-sec{
        margin: 15px 0 !important;
    }
    .share .share-button {
        padding: 5px 20px !important;
        font: 14px 'Poppins', sans-serif !important;
        font-weight: 500 !important;
    }
    .portfolio-section .title{
        font: 24px 'Poppins', sans-serif !important;
        font-weight: 500 !important;
    }
    .portfolio-section .name {
        font: 16px 'Poppins', sans-serif !important;
        font-weight: 400 !important;
        padding-left: 10px !important;
    }
    .portfolio-section .desc{
        font: 16px 'Poppins', sans-serif !important;
        font-weight: 400 !important;
        padding: 5px 10px !important;
        height: 60px !important;
    }
    .iconcontainer1, .iconcontainer{
        height: 25px !important;
        width: 25px !important;
    }
    .portfolio-icon{
        font-size: 15px !important;
    }
    .portfolio-section .add-card{
        margin: 10px !important;
        width: 45% !important;
        height: 150px !important;
    }
    .portfolio-section .add-card1{
        margin: 10px !important;
        width: 45% !important;
        height: 200px !important;
    }
    .portfolio-section .card-heading{
        font: 20px 'Poppins', sans-serif !important;
        font-weight: 500 !important;
        margin-bottom: 5px !important;
    }
    .end-text{
        font: 14px 'Poppins', sans-serif !important;
        font-weight: 500 !important;
    } 
    .end-section{
        padding: 0 !important;
    }
    .profile-card{
        width: 45% !important;
        padding-bottom: 10px !important;
        margin: 10px !important;
    }
    .logo{
        height: 20px !important;
        width: 72px !important;
        margin-bottom: 20px !important;
    }
    .profile-heading{
        font: 16px 'Poppins', sans-serif !important;
        font-weight: 600 !important;
        padding: 0 !important;
        margin-bottom: 5px !important;
    }
    .profile-name{
        font: 14px 'Poppins', sans-serif !important;
        font-weight: 400 !important;
        padding: 0 !important;
        margin-bottom: 5px !important;
    }
    .project-card{
        width: 45% !important;
        height: 150px !important;
        margin: 10px !important;
    }
    .achievement-card{
        width: 45% !important;
        padding-bottom: 10px !important;
        margin: 10px !important;
    }
    .project-textbox{
        height: 60px !important;
    }
    .project-name{
        font: 16px 'Poppins', sans-serif !important;
        font-weight: 700 !important;
    }
    .conv{
        display: flex !important;
        flex-direction: column !important;
    }
    .delete-icon, .edit-icon, .hide-icon{
        height: 25px !important;
        width: 25px !important;
    }
    .modal-head{
        font-size: 28px !important;
    }
    .modal .form-group .form-label {
        font: 18px 'Poppins', sans-serif !important;
    }
    .modal .form-group input, .modal .form-group select, option {
        font: 18px 'Poppins', sans-serif !important;
    }
    .add-card button svg, .add-card1 button svg{
        font-size: 60px !important;
    }
}
@media (min-width: 600px) and (max-width: 767px){
    .portfolio-section .title{
        font: 40px 'Poppins', sans-serif !important;
        font-weight: 500 !important;
    }
    .portfolio-section .add-card{
        width: 40% !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .portfolio-section .title{
        font: 40px 'Poppins', sans-serif !important;
        font-weight: 500 !important;
    }
    .portfolio-section .add-card{
        width: 40% !important;
    }
}