.share{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 30px;
}
.share .share-button{
    background-color: #00E5D8;
    border-radius: 8px;
    border: none;
    margin-right: 20px;
    padding: 10px 30px;
    font: 18px 'Poppins', sans-serif;
    font-weight: 500;
}
.share .share-button:hover{
    background-color: inherit;
    border: 3px solid #00E5D8;
    padding: 7px 27px;
}
.portfolio-section{
    background: rgba(246,246,246,1);
    border-radius: 8px;
    margin: 0 20px 60px 20px;
}
.portfolio-section .title{
    font: 48px 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    border: none;
    background-color: inherit;
}
.portfolio-section .profile-pic{
    height: 180px;
    width: 180px;
}
.portfolio-section .name{
    font: 20px 'Poppins', sans-serif;
    font-weight: 400;
}
.portfolio-section .desc{
    font: 20px 'Poppins', sans-serif;
    font-weight: 400;
    border: none;
    height: 100px;
    width: 650px;
    padding: 10px 20px;
}
textarea{
    overflow: hidden;
    resize: none;
}
.portfolio-section .profile-card{
    background-color: white;
    width: 27vw;
    height: 27vh;
    padding: 20px;
    margin : 0 30px 30px 0;
    box-shadow: 0px 4px 8px 2px rgba(230, 230, 230, 0.25);
    border-radius: 8px;
}
.portfolio-section .logo{
    height: 50px;
    width: 180px;
    margin-bottom: 40px;
    align-self: center;
}
.portfolio-section .profile-name{
    font: 20px 'Poppins', sans-serif;
    font-weight: 400;
}
.portfolio-section .profile-heading{
    font: 20px 'Poppins', sans-serif;
    font-weight: 600;
    color: #3D3D3D;
}
.portfolio-section .card-heading{
    font: 20px 'Poppins', sans-serif;
    font-weight: 500;
}